

<h1 [ngStyle]="{'font-family':'times-new-roman'}">hello world</h1>

<!-- <div [ngClass]="cssStyle">using ngClass</div>
<br>
<app-navbar></app-navbar>
<welcome></welcome>
<app-event-detail></app-event-detail> -->
<!-- <div class="div1">
  <pent class="c1"></pent>
  <welcome class="c1"></welcome>
</div>  -->

<!-- <app-animal-list class="animal"></app-animal-list> -->
    <!-- <app-product-list></app-product-list>  -->
  
    <!-- <app-product-list (onProductSelection)="onProductSelection($event)"></app-product-list> 
  <app-cart [products]="products"></app-cart> -->
 <!-- <app-employee></app-employee> -->
 <!-- <app-trustee></app-trustee> -->
 <!-- <app-student></app-student> -->

 <!-- <app-book-data></app-book-data> -->


 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">My App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"
        [routerLink]="['book']"
         [routerLinkActive]='["active"]'>
         Book <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"
        [routerLink]="['products']"
        routerLinkActive="active">Product <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
        [routerLink]="['event']"
        routerLinkActive="active">Event</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
        [routerLink]="['animals']"
        routerLinkActive="active">Animal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
        [routerLink]="['nothing']"
        routerLinkActive="active">Nothing</a>
      </li>
      </ul>
      
      </div>
      </nav>
      <router-outlet></router-outlet>