
<div class="cards">
<article class="card-body">
    <h5>{{pageTitle}}</h5>
<form  #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">

<div class="form-group">
    <input type="text" placeholder="User Name" name="userName" id="userName"
    #userName="ngModel"
    ngModel
    class="form-control"
    required>
</div>
<br>
<div class="form-group">
    <input type="password" placeholder="Password" name="password" id="password"
    #password="ngModel"
    ngModel
    class="form-control"
    required>
</div>
<br>
    <div class="btns">
        <div id="btn1"><button class="btn btn-outline-danger" (click)="cancel()">Cancel</button></div>
        <div id="btn2"><button [disabled]="!loginForm.valid" class="btn btn-outline-info">Log In</button></div>
    </div>
    </form>
</article>
</div>
 