<app-menu></app-menu>
<!-- <div class="div1">
<app-dash-board [messageText]="msg" class="btn1">
    <button class="btn btn-success" style="margin-left:60px;">Categories</button>
    <h6>Select catagory based on your choice</h6>
    <ul>
      <li>Fashion</li>
      <li>Personal Care</li>
      <li>Furniture</li>
      <li>Electronics</li>
    </ul>
</app-dash-board>
<app-dash-board class="btn2">
    <button class="btn btn-dark" style="margin-left:60px;">Notifications</button>
    <h6>Notification(1)</h6>
    <ul att1>
      <li>All</li>
      <li>Offers</li>
    </ul>
</app-dash-board>
<app-dash-board class="btn3">
  <button class="btn btn-success" style="margin-left:60px;">Account</button>
  <h6>Account settings</h6>
  <ul>
    <li>Edit Profile</li>
    <li>Select Language</li>
    <li>Notification Setting</li>
  </ul>
</app-dash-board>
</div> -->
<div class="container main-content">
    <router-outlet></router-outlet>
</div>